<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            {if isset($message)}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <h3 class="page-header text-center">All Games</h3>
            <div class="panel panel-default">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Campaign</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {foreach $c in $campaigns}
                        <tr>
                            <td><a href="/config/{echo $c->type}item/{echo $c->type_id}">{$c->title}</a></td>
                            <td><span class="label label-info">{echo ucfirst($c->type)}</span></td>
                            <td>
                                {if $c->live}
                                <a href="/game/publish/{echo $c->id}/0" class="btn btn-xs btn-warning"><i class="fa fa-ban"></i> Unpublish</a>
                                {/if} {else}
                                <a href="/game/publish/{echo $c->id}/1" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Publish</a>
                                <a href="/game/delete/{echo $c->id}" data-message="Are you sure you want to delete this campaign?" class="btn btn-xs btn-danger delete"><i class="fa fa-trash"></i> Delete</a>
                                {/else}
                            </td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <code>* Note you can only delete unpublished campaigns which are not played by any user</code>
        </div>
    </div>
</div>