<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="row">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dinchak1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2202368153151998"
                 data-ad-slot="5152090668"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="text-center">{echo $campaign->title}</h3>
                    <img src="{echo CDN.'uploads/images/'.$campaign->image}" class="img-thumbnail"><br><br>
					<p class="lead">
                        <small><b><i class="ion-social-facebook"></i> Click here to login from facebook</small></b>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- dinchak2 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2202368153151998"
                         data-ad-slot="8105557069"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    
                        <button type="button" class="btn btn-success btn-lg btn-block fbLogin" data-action="campaign" data-campaign="{echo $campaign->id}">Click to Find {echo $campaign->title}</button>
                        {if isset($participant)}
                        <small><div class="fb-send" data-href="http://dinchakapps.com/game/result/{$participant->id}"></div></small>
                        {/if}
                    </p>
                    <p class="lead">{echo $campaign->description}</p>
					
            </div>
            </div>
			<br>
			<br>
            <div class="col-md-4">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- dinchak_3 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2202368153151998"
                         data-ad-slot="9508238267"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                
            </div>
        </div>
    </div>
</section>