<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="card-deck-wrapper">
            {foreach $item in $items}
            <div class="col-md-3 col-xs-12">
                <div class="card">
                    <a href="/game/view/{echo Framework\StringMethods::url($item->title)}/{echo $item->id}"><img class="card-img-top img-responsive" src="{echo CDN}uploads/images/{echo $item->image}" alt="Look Like Image"></a>
                    <div class="card-block">
                        <a href="/game/view/{echo Framework\StringMethods::url($item->title)}/{echo $item->id}"><h4 class="card-title">{echo $item->title}</h4>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</section>
<script>(function (we, a, r, e, vnative){we["vNativeObject"]=vnative;we[vnative]=we[vnative]||function(){(i[vnative].q=i[r].q || []).push(arguments)};var x,y;x=a.createElement(r),y=a.getElementsByTagName(r)[0];x.async=true;x.src=e;y.parentNode.insertBefore(x, y);}(window,document,"script","//serve.vnative.com/js/native.js","vn"));</script>
<ins class="byvnative"
    data-client="pub-576d840fdeec50c00c8b4571"
    data-slot="576d8863deec50c30c8b456d"
    data-format="all"></ins>